@media (max-width: 1250px) {
    nav {
        background-color: rgba(0, 0, 0, 0.455);
    }

    .burger-menu {
        position: absolute;
        top: 80px;
        width: 97%;
        margin-left: 5px;
        flex-direction: column;
        background-color: rgba(36, 36, 36, 0.85);
        border-bottom: 2px solid #37FF8B;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        visibility: hidden;
        transform: translate(-100%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);

        a {
            color: white;
        }

        button {
            order: 4;
        }
    }

    .show-burger-menu {
        visibility: visible;
        transform: translate(0%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    .nav-links {
        width: 90%;
        position: absolute;
        top: 25px;
        left: 5%;
        right: 5%;
        padding: 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }

    #checkbox {
        display: none;
    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
        margin-left: 20px;
    }

    .bars {
        width: 100%;
        height: 4px;
        background-color: #37FF8B;
        border-radius: 4px;
    }

    #bar2 {
        transition-duration: .8s;
    }

    #bar1,
    #bar3 {
        width: 70%;
    }

    #checkbox:checked+.toggle {
        .bars {
            position: absolute;
            transition-duration: .5s;
        }

        #bar2 {
            transform: scaleX(0);
            transition-duration: .5s;
        }

        #bar1 {
            width: 100%;
            transform: rotate(45deg);
            transition-duration: .5s;
        }

        #bar3 {
            width: 100%;
            transform: rotate(-45deg);
            transition-duration: .5s;
        }

        transition-duration: .5s;
        transform: rotate(180deg);
    }

}



.categorias {
    padding-bottom: 50px;
}

.cards-cont {
    width: 100%;
    gap: 30px;
}

.card {
    width: 30%;

    img {
        width: 180px;
        height: 130px;
    }

    h1 {
        font-size: 1rem;
    }
}

.precio-btn-card {
    justify-content: space-around;
}


@media (max-width: 843px) {
    .hero h1 {
        padding-top: 50px;
    }

    .foot-links {
        justify-content: flex-start;
    }

    .cards-cont {
        flex-direction: column;
    }

    .card {
        width: 50%;
    }
}

@media (max-width: 720px) {
    .nav-links {
        padding: 0;
        margin: 0;
    }

    footer {
        padding: 0 30px;
    }

    .foot-cont {
        flex-direction: column;
        gap: 50px;
    }

    .foot-links {
        justify-content: center;
        width: 100%;
    }

    .foot-redes {
        width: 11rem;
        align-items: center;

        h3 {
            text-align: center;
        }
    }

    span {
        text-align: center;
    }
}

@media (max-width: 560px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        background-image: none;
    }

    .hero-text {
        width: 100%;
        align-items: center;
        padding: 0 35px;

        h1 {
            padding: 0;
            text-align: center;
        }

        p {
            padding: 0 1rem;
            text-align: center;
        }
    }

    .hero-img {
        order: 2;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .comprar-borrar-btn button {
        font-size: .6rem;
    }

    .hero {
        h1 {
            margin-top: 50px;
            font-size: 4rem;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            width: 100%;
        }
    }

    .carrito-cont {
        width: 90%;
    }

    .categorias {
        padding: 0;

        h1 {
            font-size: 2rem;
            margin: 30px 0;
        }

        .cat-cont {
            padding: 0 5rem;
            display: grid;
            justify-items: center;
            grid-template-columns: 4fr 4fr 4fr;
        }

        .cat-cont button {
            width: 100px;
            padding: 10px 10px;
            margin: 10px 0;
            font-size: 13px;
            text-align: center;
        }
    }

    .cat-cont {
        padding: 0 10px;
        margin-top: 30px;
        grid-template-columns: 4fr 4fr;
    }

    .btn-cat {
        width: 120px;
    }

    .card {
        padding: 20px 5px;
        width: 90%;

        h1 {
            font-size: 1rem;
            padding: 0 10px;
            margin: 10px 0;
        }
    }

    h2 {
        font-size: 1rem;
        padding: 0 10px;
        margin: 10px 0;
    }

    .card-precio,
    .btn-card {
        font-size: 1rem;
    }

    .precio-btn-card {
        padding: 5px;
        justify-content: space-between;
    }

    footer {
        padding: 0 10px;
        font-size: .7rem;
    }
}