:root {
    /* bg colors */
    --background: #121010;
    --primary: #000000;
    --secondary: #f3f3f3;
    --terciary: #ffffff;

    /* Text colors */
    --text-blue: #37FF8B;
    --text-white: #000000;

}